
@font-face {
    font-family: one;
    src: url(./font/Barlow-Black.ttf)format('normal');
}


@font-face {
    font-family: two;
    src: url(./font/Barlow-Bold.ttf)format('normal');
}


@font-face {
    font-family: three;
    src: url(./font/Barlow-ExtraBold.ttf)format('normal');
}

@font-face {
    font-family: four;
    src: url(./font/Barlow-Light.ttf)format('normal');
}

@font-face {
    font-family: five;
    src: url(./font/Barlow-Medium.ttf)format('normal');
}





.hlp-img{
    text-align: center !important;
}



.highlight{
    display: none   ;
    
}


/* hovwe */



.btn-mor-faq{

    color: #F78C1E;
    text-decoration: none;
    /* background-color: rgb(255, 255, 255);
    border-radius: solid 1px #fff; */
    padding: 20px;
}

.btn-mor-faq:hover{
    color: #fff;
    background-color: #F78C1E;
    padding: 15px;
    border-radius: 30px;
}


.nnhov{
    color: #F78C1E;  
}
.nnhovw{
    color: #fff;
}


.nnhov:hover{
color: #fff;
}

.nnhovw:hover{
    color: #F78C1E;

}


.starthod{

    background-color: #F78C1E;
     color: #ffffff;
     /* width: 150px; */
}

.starthod-fixbuton{

    background-color: #FFA933;
    color: #ffffff;
    z-index: 1030;
    padding: ;
}


/* .div-starthod-fixbuton{

position: fixed;
} */


.startmoshaver{

    background-color: #ffffff;
     color: #FFA933;
}


.starthod:hover{

    background-color: #ffffff;
     color: #F78C1E;
}

.startmoshaver:hover{

    background-color: #F78C1E;
    color: #ffffff;
}


/* ***** */

/* تغییر رنگ دکمه آکاردئون */
.accordion-button {
    background-color: white; /* تغییر رنگ زمینه به سفید */
    color: black; /* تغییر رنگ متن به سیاه (یا هر رنگ دیگری که می‌خواهید) */
  }
  
  /* تغییر رنگ دکمه آکاردئون وقتی باز است */
  .accordion-button:not(.collapsed) {
    background-color: white; /* تغییر رنگ زمینه به سفید */
    color: black; /* تغییر رنگ متن به سیاه */
  }
  
  /* تغییر رنگ دکمه آکاردئون هنگام hover (اختیاری) */
  .accordion-button:hover {
    background-color: #f8f9fa; /* تغییر رنگ زمینه هنگام hover */
  }







 /* موارد بیشتر المان های نان و ان نان  */






