.hlp-img{
    text-align: center !important;
}





.mor-faq{

    display: none;
}

.mor-faq-show{

   
}



.btn-mor-faq{

    color: #F78C1E;
    text-decoration: none;
    /* background-color: rgb(255, 255, 255);
    border-radius: solid 1px #fff; */
    padding: 20px;
}

.btn-mor-faq:hover{
    color: #fff;
    background-color: #F78C1E;
    padding: 15px;
    border-radius: 30px;
}





.nnhov{

    color: #F78C1E;
    
}
.nnhovw{

    color: #fff;
}


.nnhov:hover{
color: #fff;



}

.nnhovw:hover{
    color: #F78C1E;



}